body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #483480b4;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 100px;
  margin-right: 10px;
}

/* Tu CSS existente para la navegación aquí */

.menu-toggle {
  display: none; /* Por defecto oculto en pantallas grandes */
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px auto;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .nav ul {
      display: none; /* Ocultar lista en pantallas pequeñas */
  }

  .menu-toggle {
      display: block; /* Mostrar icono del menú en pantallas pequeñas */
  }

  .nav.active ul {
      display: block; /* Mostrar lista cuando se activa el menú */
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
  display: inline-block; /* Alinea los elementos al centro */
}

nav ul li a:hover {
  color: #ccc;
}

.banner {
    position: relative;
    width: 100%;
    max-height: 500px; /* Ajusta la altura máxima según sea necesario */
    overflow: hidden; /* Oculta el desbordamiento de la imagen */
}

.banner-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.banner-texto h1 {
  font-size: 3vw;
  margin: 0; /* Agrega esto para quitar el margen predeterminado del h1 */
}


#inicio img {
  width: 100%; /* 100% del ancho de la ventana del navegador */
  height: 100%; /* Se ajusta automáticamente la altura para mantener la proporción */
  object-fit: cover; /* Cubre el contenedor manteniendo la proporción */
  object-position: center; /* Centra la imagen */
  opacity: 0.7; /* Reduciendo la opacidad */
}

section#inicio h2{
  color: #ffffff;
}

section#inicio {
  color: #d3d3d3;
}

section#transmisiones,
section#contacto,
section#aportes {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
}

section#contacto iframe {
  width: calc(100% - 20px); /* Calcula el ancho restando 20px (10px de cada lado) */
  margin: 10px;
  border: none; /* Elimina el borde predeterminado del iframe */
}

.vision-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 100px auto 0; /* Se añade un margen de 20px en la parte superior */
  border-radius: 10px;
  padding: 20px;
}

.vision-text {
  max-width: 50%;
  font-size: 1.2em; /* Ajusta el tamaño de letra según sea necesario */
}

.vision-image img {
  max-width: 100%;
}

.redes-sociales {
    text-align: center;
}

.redes-sociales img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    margin: 0 10px; /* Espaciado entre las imágenes */
    vertical-align: middle; /* Alinea verticalmente las imágenes */
}
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videos iframe {
  flex: 0 0 calc(33.33% - 10px); /* 33.33% para que haya tres en la fila y -10px para el espacio entre ellos */
  margin-bottom: 10px;
}

#descargaApp {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.app-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.app-image {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.app-image img {
  width: 100%;
  height: auto;
}

.app-text {
  text-align: center;
  margin-top: 10px;
}

.app-text h3 {
  font-size: 1.5em; /* Ajusta el tamaño según tus preferencias */
  margin-bottom: 5px;
}

.app-text p {
  font-size: 0.9em; /* Ajusta el tamaño según tus preferencias */
  margin: 0;
  line-height: 1.2;
}

h2, h3 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.social-links,
.contact-info {
  margin-bottom: 20px;
}

.social-links h3,
.contact-info h3 {
  margin-bottom: 10px;
  color: #fff;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
.social-links img {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  margin: 0 10px; /* Espaciado entre las imágenes */
  vertical-align: middle; /* Alinea verticalmente las imágenes */
}
